<header class="header px-3 py-1">
    <h3>{{ headerConfig.title | titlecase}}</h3>
    <div class="header-nav">
        <a class="nav-link" routerLink="/">Dashboard</a>
        <a class="nav-link" routerLink="/updater">Updater</a>
        <a class="nav-link" routerLink="/shares-table">Tabla de acciones</a>
        <a class="nav-link" routerLink="/portfolio-history">Historial</a>
        <!-- <a class="nav-link" routerLink="piecharts">Grafico de pastel</a> -->
    </div>
    <shared-dollar-box></shared-dollar-box>
</header>

