<!-- <header class="d-flex justify-content-between align-items-center p-2 my-2 bg-dark border rounded shadow">
  <h1 class="col text-light display-4">{{ title }}</h1>

  <ul class="nav d-flex align-items-center gap-2">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="updater">Updater</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="shares-table">Tabla de acciones</a>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="piecharts">Grafico de pastel</a></li>
    <li class="nav-item">
      <div class="card text-muted p-2">
        <h5>Dólar</h5>
        <div class="flex-start">
          <span>
            <b>Venta:</b> ARS {{ valores[1] | number:'1.0-2' }}
          </span>
          <span>
            <b>Compra:</b> ARS {{ valores[0] | number:'1.0-2' }}
          </span>
        </div>
        <div class="flex-start">
      </div>
        <div class="flex-start"><span>
            actualizado:
            {{ fechaActualizacion | date:'dd/MM/yyyy' }}

          </span>
        </div>
      </div>
    </li>
  </ul>

</header> -->
<shared-header [headerConfig]="headerConfig"></shared-header>
<router-outlet></router-outlet>