<div class="container">

<header>
  <h1>CRR01</h1>
  <div class="muted">
    <h4>Dólar</h4>
    <div class="item"><span>venta: </span>
      <p>ARS {{ valores[1] | number:'1.0-2' }}</p>
    </div>
    <div class="item"><span>compra: </span>
      <p>ARS {{ valores[0] | number:'1.0-2' }}</p>
    </div>
    <div class="item"><span>Actualizado: </span>
      <p>{{ fechaActualizacion | date:'dd/MM/yyyy' }}</p>
    </div>
  </div>
</header>

<section class="container">
  <h2>Mis activos</h2>

  <h3>Pesos (ARS)</h3>
  <div>
    <ul>
      <li *ngFor="let a of assetsARS">
        <p>{{ a.name }}</p> {{ a.amount | number:'1.2-2' }} ARS <span class="muted">({{ a.category }})</span>
      </li>
    </ul>
  </div>

  <h3>Dólares (USD)</h3>
  <div *ngFor="let a of assetsUSD">

    <ul>
      <li>
        <p>{{ a.name }}</p> {{ a.amount | number:'1.2-2' }} USD
        <span class="muted">
        ({{ a.amount * valores[1] | number:'1.0-0' }} ARS)
      </span>
      </li> 
    </ul>


  </div>
</section>

<footer>
  <article>
    <h2>Capital total en pesos</h2>
    <p>ARS {{ calcularCapitalTotal() | number:'1.2-2' }} </p>
  </article>

</footer>

</div>